<head>
    <link rel="stylesheet" href="../home/home.component.css">
</head>
    

<section>
       
    <div class="row">
        <div class="column">
            <img src="../../../assets/images/image2.jpeg" >
            <div class="description">
                    <h2>Definition</h2>
                    <p>Skin cancer is one of the most common cancers in the world. Non-melanoma skin cancer refers to a group of cancers that slowly develop in the upper layers of ...</p>
                    <button >click here for more</button>
                </div>

        </div>
        <div class="column">
                <img src="../../../assets/images/image3.jpeg" >
                <div class="description">
                        <h2>Statistics</h2>
                        <p>The 2023 annual report provides an estimated numbers of new cancer cases, deaths, survivors and information on prevention, early detection & treatment.</p>
                        <button >click here for more</button>
                    </div>
        </div>
        <div class="column">
                <img src="../../../assets/images/image5.jpeg" >
                <div class="description">
                        <h2>Prevention</h2>
                    <p>The 2023 annual report provides an estimated numbers of new cancer cases, deaths, survivors and information on prevention, early detection & treatment.</p>
                    <button >click here for more</button> 
                </div>

        </div>
    </div>
</section>