
<footer>
    <ul class="footer-icons">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
    </ul>


    <ul class="footer-menu">
        <li>
            <a href="#">Front end development</a>
        </li>
        <li>
            <a href="#">Back end development</a>
        </li>
        <li>
            <a href="#">Database Administration</a>
        </li>
        <li>
            <a href="#">Web designer</a>
        </li>
    </ul>
    <div class="footer-copyright">
        <p>
                copyright @ 2023 Tonight. All Rights Reserved
        </p> 
</div>
</footer>
